.header__logo1 {
font-family: "Raleway", serif;
    color: rgb(102, 114, 221);
    width: 145;
        height: 31;
        top: 24px;
        left: 215px;
            font-weight: 700;
            font-size: 26px;
            line-height: 30.52px;
            letter-spacing: 3%;
        }


.header__logo2 {
font-family: "Raleway", serif;
    color: rgb(0, 0, 0);
    width: 145;
        height: 31;
        top: 24px;
        left: 215px;
            font-weight: 700;
            font-size: 26px;
            line-height: 30.52px;
            letter-spacing: 3%;
  
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.header__list {
    display: flex;
    gap: 50px;
}

.nav__item {
    list-style-type: none;
}

.header__contacts {
    display: flex;
    gap: 50px;
}

.section__h2 {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
}



.div__team {
    font-family: "Roboto", sans-serif;
}

body {

    font-family: Inter;

}
.WebStudio_section {
    background-color: rgb(65, 64, 64);
    padding: 200px 0;
}

.title {
    width: fit-content;
    margin: 0 auto;
    color: white;
    font-family: "Roboto", serif;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        letter-spacing: 6%;
        text-align: center;
}

.button {
    margin-left:700px ;
    padding: 15px 30px;
        font-size: 18px;
        font-weight: bold;
        border: rgb(45, 45, 59) solid 2px;
        background-color: rgb(45, 45, 59);
        color: white;
        border-radius: 7px;
        cursor: pointer;
        transition:
            background-color 0.5s ease-in-out,
            color 0.5s ease-in-out,
            transform 0.5s ease-in-out,
            box-shadow 0.5s ease-in-out;
    }
    .button:hover{
        background-color: rgb(82, 82, 252);
    }
span{
    color:rgb(255, 255, 255)
}

.footer {
    background-color: grey;
}
.WebStudio_section{
    background-image: url(./imeges/Img.svg);
    width: 1600px;
}
